<header class="barra-navegacion">

  <div class="izquierda">

    <button class="contenedor-menu" type="button" aria-label="Abrir menú">
      <div class="menu">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </button>

    <div class="perfil">
      <img
        src="https://preview.redd.it/i-cried-while-making-this-v0-01tuowjtld931.jpg?width=640&crop=smart&auto=webp&s=5359e064b8305668128b4088df6063e0bcdee550"
        alt="Foto de perfil"
        class="foto-perfil">

      <span class="nombre">Reynaldo Rodriguez</span>
    </div>

  </div>

  <div class="derecha">
    <a href="#">
      <img src="#" alt="Logo UASD" class="logo-uasd">
    </a>

    <span>Universidad Autónoma de Santo Domingo</span>
  </div>

</header>