<header class="barra-navegacion" [class.close]="!sidebarOpen">

  <div class="izquierda">

    <img
      src="img/UASD-Logo.png"
      alt="Logo UASD"
      class="logo-uasd">

    <div class="info-sistema">

      <span class="titulo">
        Sistema de Gestión de Tesis
      </span>

      <span class="subtitulo">
        Universidad Autónoma de Santo Domingo
      </span>

    </div>

  </div>

  <div class="derecha">

    <button class="btn-notification">
      <i class="bx bx-bell-ring"></i>
    </button>

    <button class="btn-user">
      <i class="bx bx-user"></i>
    </button>

    <!-- <a routerLink="auth/login" class="btn-login">
      Iniciar Sesión
    </a>

    <a routerLink="auth/register" class="btn-register">
      Registrarse
    </a> -->

  </div>

</header>