# Django
DEBUG=True
SECRET_KEY=django-insecure-change-me-in-production
FRONTEND_URL=http://localhost

# PostgreSQL
DB_ENGINE=django.db.backends.postgresql
DB_NAME=evaluacion_quinquenal
DB_USER=evaluacion_user
DB_PASSWORD=evaluacion_pass
DB_HOST=db
DB_PORT=5432
