<app-navbar />
<aside class="barra-lateral">

  <nav>
    <ul>

      <li>
        <a routerLink="/dashboard">
          <img src="#" alt="">
          <div>
            <span>Dashboard</span>
            <p>Datos generales</p>
          </div>
        </a>
      </li>

      <li>
        <a routerLink="/usuarios">
          <img src="#" alt="">
          <div>
            <span>Usuarios</span>
            <p>Gestor de usuarios</p>
          </div>
        </a>
      </li>

      <li>
        <a href="#">
          <img src="#" alt="">
          <div>
            <span>Roles</span>
            <p>Gestor de roles</p>
          </div>
        </a>
      </li>

      <li>
        <a href="#">
          <img src="#" alt="">
          <div>
            <span>Permisos</span>
            <p>Gestor de permisos</p>
          </div>
        </a>
      </li>

    </ul>
  </nav>

</aside>