<aside class="barra-lateral">

  <nav class="sidebar" [class.close]="!open">
    <div class="image-text">
        <span class="image">
            <img src="img\noUser.png" alt="Foto de perfil">
        </span>
    </div>

    <div class="text sidebar-text">
        <span class="name">{{ user?.first_name || 'Hola!' }}</span>
        <span class="slogan">{{ user?.username || '*Usuario*' }}</span>
    </div>

    <i class='bx bx-caret-right toggle' (click)="toggleSidebar()"></i>

    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link">
                    <a routerLink="/dashboard">
                        <i class='bx bx-home icon'></i>
                        <span class="text nav-text">Dashboard</span> 
                    </a>
                </li>

                <li class="nav-link">
                    <a routerLink="/usuarios">
                        <i class='bx bx-user icon'></i>
                        <span class="text nav-text">Usuarios</span> 
                    </a>
                </li>

                <li class="nav-link">
                    <a routerLink="/facultades">
                        <i class='bx bx-arch icon'></i>
                        <span class="text nav-text">Facultades</span> 
                    </a>
                </li>

                <li class="nav-link">
                    <a routerLink="/periodos">
                        <i class='bx bx-calendar icon'></i>
                        <span class="text nav-text">Períodos</span> 
                    </a>
                </li>

                <li class="nav-link">
                    <a routerLink="/criterios">
                        <i class='bx bx-list-check icon'></i>
                        <span class="text nav-text">Criterios</span> 
                    </a>
                </li>

                <li class="nav-link">
                    <a routerLink="/indicadores">
                        <i class='bx bx-bar-chart-alt-2 icon'></i>
                        <span class="text nav-text">Indicadores</span> 
                    </a>
                </li>

                <li class="nav-link">
                    <a routerLink="/asignaciones">
                        <i class='bx bx-task icon'></i>
                        <span class="text nav-text">Asignaciones</span> 
                    </a>
                </li>

                <li class="nav-link">
                    <a routerLink="/evidencias">
                        <i class='bx bx-file icon'></i>
                        <span class="text nav-text">Evidencias</span> 
                    </a>
                </li>

                <li class="nav-link">
                    <a routerLink="/auditoria">
                        <i class='bx bx-clipboard-detail icon'></i>
                        <span class="text nav-text">Auditoría</span> 
                    </a>
                </li>
            </ul>
        </div>

        <div class="botton-content">
             <li class="nav-link">
                    <a (click)="logout()" style="cursor: pointer;">
                        <i class='bx bx-arrow-out-left-square-half icon'></i>
                        <span class="text nav-text">Cerrar sesión</span> 
                    </a>
            </li>
             <li class="mode">
                    <div class="moon-sun">
                        <i class="bx bx-moon icon moon"></i>
                        <i class="bx bx-sun icon sun"></i>
                    </div>
                    <span class="mode-text text">Modo oscuro</span>

                    <div class="toggle-switch">
                        <span class="switch" (click)="toggleTheme()"></span>
                    </div>
            </li>
        </div>
    </div>
</nav>
</aside>
